.icon-delete {
    background: url("./delete.png");
    display: inline-block;
    font-size: 0;
    width: 20px;
    height: 20px;
    background-size: cover;
}

.css-tips {
    position: relative;
}

.css-tips:hover::after {
    content: attr(data-title);
    font-size: 14px;
    text-align: center;
    position: absolute;
    border-radius: 2px;
    display: inline-block;
    color: #ff0;
    padding: 2px 4px;
    white-space: nowrap;
    margin-top: calc(-1em - 13px);
    margin-left: calc(-50% + 1px);
}

.css-tips:hover::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    transform: rotate(45deg);
    margin-top: -8px;
    text-align: center;
    margin-left: 7px;
}

.css-tips:hover::before, .css-tips:hover::after {
    background: rgb(0, 0, 0);
}

.pos {
    position: absolute;
    top: 40px;
    left: 40px;
}
