.icon-delete {
    --icon-width: 20px;
    background-image: url("./delete.png");
    display: inline-block;
    font-size: 0;
    width: var(--icon-width);
    height: var(--icon-width);
    background-size: cover;
}

.pos {
    position: absolute;
    top: 40px;
    left: 40px;
}


.css-tips {
    position: relative;
    --font-size: 14px;
    --arrow-width: 8px;
    --base-Y-offset: 0px
}

.css-tips[data-title-dir='top']:hover::after {
    margin-top: calc(0px - (1.41 / 2) * var(--arrow-width) - var(--base-Y-offset));;
    transform: translate(calc(-50% + var(--icon-width) / 2), -100%);
}

.css-tips[data-title-dir='top']:hover::before {
    margin-top: calc(0px - var(--arrow-width) * ((1.41 + 1) / 2) - var(--base-Y-offset));
    margin-left: calc((var(--icon-width) - var(--arrow-width)) / 2);
}

.css-tips[data-title-dir='bottom']:hover::after {
    margin-top: calc((1.41 / 2) * var(--arrow-width) + var(--base-Y-offset) + var(--icon-width));;
    transform: translate(calc(-50% + var(--icon-width) / 2), 0);
}

.css-tips[data-title-dir='bottom']:hover::before {
    margin-top: calc(0px - var(--arrow-width) * ((1.41 / 2 - 1)) + var(--icon-width) + var(--base-Y-offset));
    margin-left: calc((var(--icon-width) - var(--arrow-width)) / 2);
}

.css-tips[data-title-dir='right']:hover::after {
    margin-top: calc(var(--icon-width) / 2);
    margin-left: calc(100% + var(--base-Y-offset) + 6px + (1 / 1.41) * var(--arrow-width));
    transform: translate(0, -50%);
}

.css-tips[data-title-dir='right']:hover::before {
    margin-top: calc(var(--icon-width) / 2);
    transform: translate(0, -50%) rotate(45deg);
    margin-left: calc(100% + var(--base-Y-offset) + 6px + (((1.41 - 1) / 2)) * var(--arrow-width))

}


.css-tips:hover::after {
    content: attr(data-title);
    font-size: var(--font-size);
    border-radius: 2px;
    display: inline-block;
    color: #fff;
    padding: 2px 4px;
    white-space: nowrap;
}

.css-tips:hover::before {
    content: "";
    width: var(--arrow-width);
    height: var(--arrow-width);
    transform: rotate(45deg);
}

.css-tips:hover::before, .css-tips:hover::after {
    position: absolute;
    background: rgb(0, 0, 0);
}
